.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app main {
  flex: 1;
  padding: 2rem;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
