.filterContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.filterSelect {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
}
